.navbar-container{
    height: 8vh;
    background-color: rgba(43, 43, 199, 0.705);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
   
}


.navbar-container svg{
    width: 3vw;
}